br {
 display: block;
 content: "";
 padding: 5px;  
}

.App {
/*  text-align: center; */
  text-align: left;
  line-height: 2.0;
  max-width: 375px;
  margin: 0 auto;
  padding: 20px;
}

.button {
  font-size: 100%;
  width: 60px;
  height: 25px;
  padding: 3px;
  box-sizing: border-box;
  cursor: pointer;
}

.smallButton {
  font-size: 80%;
  width: 80px;
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.tinyButton {
  font-size: 100%;
  width: 40px;
  padding: 2px;
  box-sizing: border-box;
  cursor: pointer;
}

